@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;

}

.logoText {
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    letter-spacing: 0.16em;
    color: #333533;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#logoTomate {
    margin-right: 9px;
}


html {
    height: 98%;
    min-height: 98%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Imprima', sans-serif;
    background: rgba(232, 237, 223, 0.9);
}

footer {
    text-align: center;
    margin-top: auto;
}

#logoText {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.25em;
    color: #333533;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


button {
    font-family: 'Imprima', sans-serif;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}








