main {
    margin-top: 55px;
}

::placeholder {
    color: #E8EDDF;
}

.camposPrincipal {

    align-items: center;
}

input {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.05em;

    margin: 0 13px 0 13px;

    color: #E8EDDF;

    width: 68px;
    height: 53px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    outline: none;

}

#focos {
    background: #15DA7A;
}

#break {
    background: #C15754;
}

.decincButton {
    height: 40px;
    width: 40px;
    font-size: 40px;
    font-style: normal;
    padding-bottom: 3px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    /*Alinhamento*/
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: #333533;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    outline: none;
}

.decincButton:hover {
    filter: brightness(70%);
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
}

/*Labels*/
label {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25em;
    margin-left: 13px;

    color: #15DA7A;

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#focosLabel {
    color: #15DA7A;
}

#breakLabel {
    color: #C15754;
}

#breakForm {
    margin-top: 30px;
}

.startButton {
    width: 277px;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 0;


    color: #333533;

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    background: rgba(245, 203, 92, 0.7);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    border: none;
    outline: none;
}

.startButton:hover {
    background: rgba(204, 167, 69, 0.7);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

input:focus::placeholder {
    color: transparent;
}

#errorText {
    font-size: 20px;
    margin: 4px 0 0 0;
}

.minutesInd {
    display: flex;
    flex-direction: column;
}

.minutesInd p {
    align-self: center;
    margin: 0;
}





