.timerBox {
    display: flex;
    align-items: center;
    justify-content: center;
}


.timerBox_progress {
    margin: 0 0 0 0;
    display: flex;
    width: 200px;
    height: 200px;
    background: #91938E;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 65px;
    overflow: hidden;
}

.timerBox__fill {
    height: 200px;
    width: 100%;
    background: #C15754;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    align-self: flex-end;
    transition: all 0.2s;
}

.timer {
    position: absolute;
    align-self: center;
    font-size: 40px;
    margin-left: 50px;
    color: #E8EDDF;
}

.statusTimer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: 10px 0 0 0;
}

#statusText {
    color: #a94e4d;
    align-self: center;
    margin: 0 20px 0 20px;
    letter-spacing: 0.20em;
}

.button {
    padding: 4px;

    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: #333533;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button:hover {
    filter: brightness(70%);
}

.returnPop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonReturn {
    margin-right: 265px;
    padding: 0 5px 0 5px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: #333533;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttonReturn:hover {
    filter: brightness(70%);
}